@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: make the scroll smooth */
html {
  scroll-behavior: smooth;
}

/* Optional: make images responsive */
img {
  max-width: 100%;
  height: auto;
}
